* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body {
    position: relative;
    background-image: url('./images/city.png');
    background-repeat: no-repeat;
    background-size: 100% 300%;
}

/* Start Menu Modal Styling
#startMenu {
    width: 500px;
    height: 200px;
    line-height: 200px;
    position: fixed;
    top: 60%;
    left: 60%;
    margin-top: -200px;
    margin-left: -400px;
    background-color: #8ebf42;
    border-radius: 40px;
    text-align: center;
    z-index: 11;
}

 
#overlay {
    position: absolute;
  top: 40%;
  left: 40%;
  height: 500px;
  width: 85%;
  z-index: 10;
} */


.boardClass {
    display: table;
    perspective: 1000px;/**/
    border-collapse: separate;
    box-sizing: border-box;
    border-color: grey;
    height: relative;
    margin: auto;
    max-width: inherit;
    visibility: visible;

}


#header {
    position: relative;
    padding-bottom: 20px;
    width: 575px;
    margin-left: 10px;
    margin-top: 30px;
}

#memoryWrap {
    position: relative;
    height: 300px;
    width: 100%;
    padding-bottom: 20px;
    box-sizing: border-box;
}

#memoryWrap.blur {
    filter: blur(3px);
    pointer-events: none;
    user-select: none;
}

tbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}


table {
    border-spacing: 1px;
}
tr {
    display: table-row;
   border-color: inherit;
   vertical-align: inherit;
}

div {
    display: block;
}

.card {
    width: 145px;
    height: 140px;
    /* margin: 7px; */
    transform-style: preserve-3d;/**/
    transition: transform .5s;/**/
    position: relative;
    transform: scale(1)
}

#card:active {
    opacity: 25%;
    transform: scale(.97);
    transition: transform .2s;
}

table {
    width: 100%;
    height: 100%;
}

#frontImage, #backImage {
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 3px;
    border-radius: 5px;
    backface-visibility: hidden;
}

.card.flip {/* reverses card */
    transform: rotateX(180deg);
}

#frontImage {
    transform: rotateX(180deg);
}


.scorebox{
    visibility: visible;
    width: 52%;
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
    
    clear: both;
    min-height: 64px;
    margin: 8px auto;
    padding: 10px;
    text-align: center;
    position: relative;
    background-color: grey;
}

.scoreboxItem {
    display: inline-block;
    width: 130px;
    text-align: center;
    margin: 2px;
    vertical-align: top;
}

.scoreboxInput {
    height: 34px;
    font-size: 2rem;


}

.modalContainer {
    visibility: hidden;
}

.modalContainer.after {
    position: relative;
    width: 50%;
    height: 30vh;
    justify-content: center;
    align-items: center;
    background: grey;
    transition: 0.5s;
    padding: 20px;
    margin: auto;
    visibility: visible;

}

.modalContent {
    position: relative;
    max-width: 800px;
}

.modalHeader {
    position: relative;
    display: block;
}

.modalHeader > h2 {
    font-size: 40px;
    text-align: center;
}

#modalMessage > p {
    font-size: 20px;
    text-align: center
}

#startGame {
    position: relative;
    padding: 5px 20px;
    display: inline-block;
    margin-top: 20px;
    text-decoration: none;
    color: #fff;    
    background: #111;
    
}
#restart {
   text-align: center; 
}
