* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body {
    position: relative;
    background: black;
    height: 100vh;
    display: flex;
}


/* Start Menu Modal Styling */
#startMenu {
    /* margin: px;
    padding: 20px;
    background: grey;
    border-radius: 55px;
    width: 85%;
    position: relative; */
    /* transition:  ; */
    width: 900px;
    height: 500px;
    line-height: 200px;
    position: fixed;
    top: 40%;
    left: 50%;
    margin-top: -200px;
    margin-left: -400px;
    background-color: #8ebf42;
    border-radius: 40px;
    text-align: center;
    z-index: 11;
}
 
#overlay {
    position: absolute;
  top: 40%;
  left: 40%;
  height: 500px;
  width: 85%;
  z-index: 10;
}

/* .popup { */
    /* position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgba(0, 0, 0, 0.7);
	/* transition: opacity 500ms; */
	/* visibility: hidden; */
	/* opacity: 0; */
/* } */


/* Modal Logo */
#recallStart{
    top: 150px;
    left: 40px;
}

/* Modal/ Start menu buttons */
#playGame, #howToPlay {
    width: 350px;
}

#playBtn {
    /* top: ; */
    left: 39%;

}

#howBtn {
    position: relative;
    bottom: 270px;
}

/* toggle startmenu modal to hide after clicking start game */
#startMenu.after {
    visibility: hidden;
}




/* toggle board when clicking start game */
#board.after {
    display: flex;
    flex-wrap: wrap;
    perspective: 1000px;/**/
    width: 640px;
    height: 640px;
    margin: auto;
    border: 2px solid white;

}
/* board while modal is active  */
#board {
    visibility: hidden;
}



.card {
    width: 145px;
    height: 140px;
    margin: 7px;
    transform-style: preserve-3d;/**/
    transition: transform .5s;/**/
    position: relative;
    transform: scale(1)
}

#card:active {
    opacity: 25%;
    transform: scale(.97);
    transition: transform .2s;
}


#frontImage, #backImage {
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 3px;
    border-radius: 5px;
    backface-visibility: hidden;
}

.card.flip {/* reverses card */
    transform: rotateY(180deg);
}

#frontImage {
    transform: rotateY(180deg);
}
