* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body {
    background: black;
    height: 100vh;
    display: flex;
}

#board {
    display: flex;
    flex-wrap: wrap;
    perspective: 1000px;/**/
    width: 640px;
    height: 640px;
    margin: auto;
    border: 2px solid white;

}

.card {
    width: 145px;
    height: 140px;
    margin: 7px;
    transform-style: preserve-3d;/**/
    transition: transform .5s;/**/
    position: relative;
    transform: scale(1)
}

#card:active {
    opacity: 25%;
    transform: scale(.97);
    transition: transform .2s;
}


#frontImage, #backImage {
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 3px;
    border-radius: 5px;
    backface-visibility: hidden;
}

.card.flip {/* reverses card */
    transform: rotateY(180deg);
}

#frontImage {
    transform: rotateY(180deg);
}
