* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body {
    /* position: relative; */
    display: flex;
    background-image: url('./images/city.png');
    background-repeat: no-repeat;
    background-size: 190%;
    height: 100vh;
    position: relative;
}

/* *******************Memory Board************************** */
.boardClass {
    display: flex;
    flex-flow: column wrap;
    width: 610px;
    height: 570px;
    perspective: 1000px;/**/
    visibility: visible;
    margin-bottom: 10px;
    /* border: 2px solid white; */
}

#message {
    position: relative;
    align-content: center;
    left: 40%;
}

/* #msg1 {
    margin-bottom: 10px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
} */

#header {
    position: relative;
    padding-bottom: 20px;
    width: 575px;
    margin-left: 10px;
    margin-top: 50px;
    margin-bottom: 0px;
}

#memoryWrap {
    position: relative;
    height: 300px;
    width: 100%;
    padding-bottom: 20px;
    box-sizing: border-box;
}

#memoryWrap.blur {
    filter: blur(3px);
    pointer-events: none;
    user-select: none;
}

/* tbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
} */

div {
    display: block;
}

.card {
    width: 145px;
    height: 140px;
    /* margin: 7px; */
    transform-style: preserve-3d;/**/
    transition: transform .5s;/**/
    position: relative;
    transform: scale(1)
}

#card:active {
    opacity: 25%;
    transform: scale(.97);
    transition: transform .2s;
}

#frontImage, #backImage {
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 3px;
    border-radius: 5px;
    backface-visibility: hidden;
}

.card.flip {/* reverses card */
    transform: rotateY(180deg);
}

#frontImage {
    transform: rotateY(180deg);
}

/***************************SCOREBOX************************/
.scorebox{
    visibility: visible;
    /* width: 70px; */
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
    height: 80px;
    clear: both;
    min-height: 30px;
    /* margin: 8px auto; */
    padding: 10px;
    text-align: center;
    position: relative;
    background-color: grey;
}

.scoreboxItem {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display: inline-block;
    width: 130px;
    text-align: center;
    margin: 2px;
    vertical-align: top;
}

.scoreboxInput {
    height: 34px;
    font-size: 2rem;
}

/***********************MODAL**************************/
.modalContainer {
    visibility: hidden;
}

.modalContainer.after {
    position: relative;
    width: 50%;
    height: 30vh;
    justify-content: center;
    align-items: center;
    background: grey;
    transition: 0.5s;
    padding: 20px;
    margin: auto;
    visibility: visible;

}

.modalContent {
    position: relative;
    max-width: 800px;
}

.modalHeader {
    position: relative;
    display: block;
}

.modalHeader > h2 {
    font-size: 40px;
    text-align: center;
}

#modalMessage > p {
    font-size: 20px;
    text-align: center
}

#startGame {
    position: relative;
    padding: 5px 20px;
    display: inline-block;
    margin-top: 20px;
    text-decoration: none;
    color: #fff;    
    background: #111;
    
}
#restart {
   text-align: center; 
}

#wrapper {
    align-content: center;
    margin: auto;
}

/* Start Menu Modal Styling
#startMenu {
    width: 500px;
    height: 200px;
    line-height: 200px;
    position: fixed;
    top: 60%;
    left: 60%;
    margin-top: -200px;
    margin-left: -400px;
    background-color: #8ebf42;
    border-radius: 40px;
    text-align: center;
    z-index: 11;
}

 
#overlay {
    position: absolute;
  top: 40%;
  left: 40%;
  height: 500px;
  width: 85%;
  z-index: 10;
} */